<%- include('partials/header') %>
<% if (books.length == 0) { %>
<form action="" id="addBook">
    <div class="form-control block mx-auto my-2">
        <label class="inline-block w-36 text-left" for="title">Title: </label>
        <input type="text" class="bg-green-200 text-black" name="title" id="bookTitle" value="" placeholder="Book Title">
    </div>
    <div class="form-control block mx-auto my-2">
        <label class="inline-block w-36 text-left" for="author">Author: </label>
        <input type="text" class="bg-green-200 text-black" name="author" id="bookAuthor" value="" placeholder="Book Author">
    </div>
    <div class="form-control block mx-auto my-2">
    <label class="inline-block w-36 text-left" for="price">Price: </label>
        <input type="text" class="bg-green-200 text-black" name="price" id="bookPrice" value="" placeholder="Book Price">
    </div>
    <div class="form-control block mx-auto my-2">
        <label class="inline-block w-36 text-left" for="ISBN">ISBN: </label>
        <input type="text" class="bg-green-200 text-black" name="ISBN" id="bookISBN" value="" placeholder="Book ISBN">
    </div>
    <div class="form-control block mx-auto my-2">
        <button class="rounded p-3 m-3 border-2 bg-green-200 text-black hover:bg-green-600 hover:text-white transition duration-200" type="submit">Submit</button>
        <button class="rounded p-3 m-3 border-2 bg-green-200 text-black hover:bg-green-600 hover:text-white transition duration-200" type="reset">Reset</button>
    </div>
</form>

<script>
    const form = document.getElementById('addBook');

    form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const title = form.title.value;
            const author = form.author.value;
            const price = form.price.value;
            const ISBN = form.ISBN.value;
            const array = [title, author, price, ISBN];
            array.forEach((prop) => {
                if (prop.value === '') {
                    return console.log('cannot be empty values');
                }
            })
            try {
                const res = await fetch('/api/v1/books/', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({title, author, price, ISBN})
            })
            const data = await res.json();
            console.log(data);
            if (data.book) {
                location.assign('/edit-books');
            } else {
                console.log(data);
            }
    
            } catch (err) {
                return console.log(err);
            }
        })
</script>

<% } %>

<% if (books.length > 0) { %>
    <table class="mx-auto font-bold">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>ISBN</th>
            <th>Thumbnail</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        <% for(var i = 0; i < books.length; i++) { %>
            <tr>
            <td class="p-2 m-2 border-2 border-green-800 capitalize"><%= books[i]._id %></td>
            <td class="p-2 m-2 border-2 border-green-800 capitalize"><%= books[i].title %></td>
            <td class="p-2 m-2 border-2 border-green-800 capitalize"><%= books[i].author %></td>
            <td class="p-2 m-2 border-2 border-green-800 capitalize"><%= books[i].price %></td>
            <td class="p-2 m-2 border-2 border-green-800 capitalize"><%= books[i].ISBN %></td>
            <td class="p-2 m-2 border-2 border-green-800 capitalize"><img src="http://covers.openlibrary.org/b/isbn/<%= books[i].ISBN %>-S.jpg" alt="<%= books[i].title %>"></td>
            <td class="p-2 m-2 border-2 border-green-800 capitalize"><a href="/api/v1/books/<%= books[i]._id %>?edit=true" class="rounded bg-green-200 px-2 m-2">Edit</a></td>
            <td class="p-2 m-2 border-2 border-green-800 capitalize"><button id="<%= books[i]._id %>" class="deleteBook p-3 mx-auto font-bold">&times;</button</td>
    
            </tr>
          <% } %>
    </table>

    <hr class="mx-auto my-5 p-5">
<h4 class="text-center mx-auto my-4 text-2xl text-black font-bold">Add New Book</h4>
    <form action="" id="addBook">
    <div class="form-control block mx-auto my-2">
        <label class="inline-block w-36 text-left" for="title">Title: </label>
        <input type="text" class="bg-green-200 text-black" name="title" id="bookTitle" value="" placeholder="Book Title">
    </div>
    <div class="form-control block mx-auto my-2">
        <label class="inline-block w-36 text-left" for="author">Author: </label>
        <input type="text" class="bg-green-200 text-black" name="author" id="bookAuthor" value="" placeholder="Book Author">
    </div>
    <div class="form-control block mx-auto my-2">
    <label class="inline-block w-36 text-left" for="price">Price: </label>
        <input type="text" class="bg-green-200 text-black" name="price" id="bookPrice" value="" placeholder="Book Price">
    </div>
    <div class="form-control block mx-auto my-2">
        <label class="inline-block w-36 text-left" for="ISBN">ISBN: </label>
        <input type="text" class="bg-green-200 text-black" name="ISBN" id="bookISBN" value="" placeholder="Book ISBN">
    </div>
    <div class="form-control block mx-auto my-2">
        <button class="rounded p-3 m-3 border-2 bg-green-200 text-black hover:bg-green-600 hover:text-white transition duration-200" type="submit">Submit</button>
        <button class="rounded p-3 m-3 border-2 bg-green-200 text-black hover:bg-green-600 hover:text-white transition duration-200" type="reset">Reset</button>
    </div>
</form>

<script>
    const form = document.getElementById('addBook');
    const deleteBook = document.querySelectorAll('.deleteBook');

    async function removeBook(e) {
            const id = e.target.getAttribute('id');
            try {
                const res = await fetch(`/api/v1/books/${id}`, {
                method: 'DELETE',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({})
            })
            const data = await res.json();
            console.log(data);
            if (data.book) {
                location.assign('/edit-books');
            } else {
                console.log(data);
            }
    
            } catch (err) {
                return console.log(err);
            }
        }

    deleteBook.forEach((btn) => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            removeBook(e);
        })
    })

    form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const title = form.title.value;
            const author = form.author.value;
            const price = form.price.value;
            const ISBN = form.ISBN.value;
            const array = [title, author, price, ISBN];
            array.forEach((prop) => {
                if (prop.value === '') {
                    return console.log('cannot be empty values');
                }
            })
            try {
                const res = await fetch('/api/v1/books/', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({title, author, price, ISBN})
            })
            const data = await res.json();
            console.log(data);
            if (data.book) {
                location.assign('/edit-books');
            } else {
                console.log(data);
            }
    
            } catch (err) {
                return console.log(err);
            }
        })
</script>

<% } %>


<%- include('partials/footer') %>