<%- include('partials/header') %>
<% if (!user) { %>

    <script>
        location.assign('/login');
    </script>

<%} %>

<% if (user, book) { %>
    <div class="row">
        <section class="single-book">
            <h1 class="">Title: <%= book.title %></h1>
            <h2 class="">Author: <%= book.author %></h2>
            <p class=""><strong>Price: </strong> <%= book.price %></p>
            <p class=""><strong>ISBN #: </strong><%= book.ISBN %></p>
            <figure>
                <img class="mx-auto my-4" src="http://covers.openlibrary.org/b/isbn/<%= book.ISBN %>-L.jpg" alt="<%= book.title %>">
                <figcaption><%= book.title %></figcaption>
            </figure>
        </section>
    </div>


<% } %> 

<% if (edit, book) { %>
    <div class="row">
        <section class="section-edit-book">
            <h3 class="">Edit Book Here</h3>
            <form action="" id="editBook" class="section-edit-book__form">
                <div class="form-control">
                    <label class="" for="title">Title: </label>
                    <input type="text" class="" name="title" id="bookTitle" value="<%= book.title %>" placeholder="<%= book.title %>">
                </div>
                <div class="form-control">
                    <label class="" for="author">Author: </label>
                    <input type="text" class="" name="author" id="bookAuthor" value="<%= book.author %>" placeholder="<%= book.author %>">
                </div>
                <div class="form-control">
                <label class="" for="price">Price: </label>
                    <input type="text" class="" name="price" id="bookPrice" value="<%= book.price %>" placeholder="<%= book.price %>">
                </div>
                <div class="form-control">
                    <label class="" for="ISBN">ISBN: </label>
                    <input type="text" class="" name="ISBN" id="bookISBN" value="<%= book.ISBN %>" placeholder="<%= book.ISBN %>">
                </div>
                <div class="form-control">
                    <button class=" type="submit">Submit</button>
                    <button class=" type="reset">Reset</button>
                </div>
            </form>
        </section>
    </div>

<script>
    const form = document.getElementById('editBook');

    form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const title = form.title.value;
            const author = form.author.value;
            const price = form.price.value;
            const ISBN = form.ISBN.value;
            try {
                const res = await fetch('/api/v1/books/<%= book._id %>', {
                method: 'PATCH',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({title, author, price, ISBN})
            })
            const data = await res.json();
            console.log(data);
            if (data.book) {
                location.assign('/edit-books');
            } else {
                // console.log(data);
            }
    
            } catch (err) {
                return console.log(err);
            }
        })
</script>
<% } %>


<%- include('partials/footer') %>

